
RewriteEngine on
RewriteCond %{HTTP_HOST} ^training\.tiens\-anz\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.training\.tiens\-anz\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/www\.tiens\-anz\.com\/training" [R=301,L]

